<script>
	$(document).ready(function() {
		var jsonTableData
	  	array2 = new Array( {{ plistData|safe }} )

	  	if (array2.length > 0){
		  	for (var i = 0; i < array2.length; i++) {
				jsonTableData = array2[i];
			}
		}
	    
	    $('#SMStable').dataTable( {
	        "data": jsonTableData,
	        "columns": [
	            { "title": "Key" },
	            { "title": "Value" }
	        ]
	    } );   
	} );
</script>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="SMStable"></table>