<head>
	{% load staticfiles %}
	<!-- Bootstrap Javascript -->
	<script src="{% static 'jQuery/jquery-1.11.2.min.js' %}"></script>
	<script src="{% static 'jQuery/jquery-ui.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap-tabs.js' %}"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/styles.css' %}">

	<!-- Google Charts API -->
	<script type="text/javascript" src="{% static 'google_api.min.js' %}"></script>

	<!-- Data Tables Javascript -->
	<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>

	<!-- Data Tables Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery-ui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}">

	<!-- Full Calendar Style Sheets -->
	<link href="{% static 'fullcalendar/css/fullcalendar.css' %}" rel="stylesheet" />
	<link href="{% static 'fullcalendar/css/fullcalendar.print.css' %}" rel="stylesheet" />

	<!-- Full Calendar Scripts -->
	<script src="{% static 'fullcalendar/js/moment.min.js' %}"></script>
	<script src="{% static 'fullcalendar/js/fullcalendar.min.js' %}" type="text/javascript"></script>

	<!-- Website Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'applelogo2.png' %}" />

	<!-- Image Gallery -->
	<link rel="stylesheet" type="text/css" href="{% static 'ImageGallery/css/bootstrap-image-gallery.min.css' %}">
	<link rel="stylesheet" href="{% static 'ImageGallery/css/blueimp-gallery.min.css' %}">
	<script src="{% static 'ImageGallery/js/blueimp-gallery.min.js' %}"></script>
	<script src="{% static 'ImageGallery/js/bootstrap-image-gallery.min.js' %}"></script>

	<!-- Website Title -->
	<title>iPhone Backup Profiler</title>
		
</head>