<!DOCTYPE HTML>
<html>

	{% include "dependencies.html" %}

	<script>
	$( document ).ready(function() {
		$(".download").click(function(event) {
			$.post( "{% url 'create' %}", { createBackup: event.target.id } );
		});
	});
	</script>
    <body>
    	{% include "nav.html" %}

		<div class="container-fluid">
		      
		      <div class="row row-offcanvas row-offcanvas-left">
		        
		         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
		            
		            {% if current_Backup %}
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'overview' %}">Overview</a></li>
		              <li><a href="{% url 'top10' %}">Top 10</a></li>
		              <li><a href="{% url 'smsdata' %}">SMS Data</a></li>
		              <li><a href="{% url 'calldata' %}">Call Data</a></li>
		              <li><a href="{% url 'calendardata' %}">Calendar Data</a></li>
		            </ul>
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'appdata' %}">App Data</a></li>
		              <li><a href="{% url 'appspecific' %}">App Specifics</a></li>
		              <li><a href="{% url 'accounts' %}">Accounts</a></li>
		              <li><a href="{% url 'appplists' %}">App Plists</a></li>
		            </ul>
		            {% if wifiData or keychainData %}
		            <ul class="nav nav-sidebar">
		              {% if wifiData %}
		              <li><a href="{% url 'wifi' %}">WiFi</a></li>
			          {% endif %}
			          {% if keychainData %}
		              <li><a href="{% url 'keychain' %}">Keychain</a></li>
		              {% endif %}
		            </ul>
		            {% endif %}
		            <ul class="nav nav-sidebar">
		              {% if safari_data %}
		              <li><a href="{% url 'safaridata' %}">Safari Searches</a></li>
		              {% endif %}
		              {% if snap_friends or snap_data %}
		              <li><a href="{% url 'snapdata' %}">Snapchat</a></li>
		              {% endif %}
		              {% if hopstop_data or hopstop_rec %}
		              <li><a href="{% url 'hopstopdata' %}">HopStop</a></li>
		              {% endif %}
		            </ul>
		            {% endif %}
		            {% if current_Backup %}
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'images' %}">Images</a></li>
		            </ul>
		            {% endif %}
		          
		        </div><!--/span-->
		        
		        <div class="col-sm-9 col-md-10 main">
		          
				  <h1 class="page-header">
						Select a Backup to Analyze
		          </h1>

		          <div class="row placeholders">
	          		<div style="display:inline;">
	          			  <p style="margin-left:4%; display:inline; font-size:20px;"><b>Last Accessed</b></p> <p style="display:inline;margin-left:10%; font-size:20px;"><b>Backup</b></p>
	          			  <br><br>
				          {% for url, name,creation in backup_creation%}
		          			<li class="download" style="list-style-type: none; margin-left:5%;cursor: pointer;"><h4 id="{{url}}" style="display:inline;">{{creation}}</h4><p  id="{{url}}" style="display:inline;margin-left:3%">{{name}}</p></li> </br>
				          {% endfor%}
	          		</div>
			      </div><!--/row-->
				</div>
		</div><!--/.container-->
 	</body>
</html>