<!DOCTYPE HTML>
<html>
	
	{% include "dependencies.html" %}
	
	<script type="text/javascript">
		$( document ).ready(function() {

			  var jsonData
			
		      array2 = new Array( {{ notestitles|safe }} )

		      for (var i = 0; i < array2.length; i++) {
		          jsonData = array2[i];
		      }

		      if (jsonData.length != 0){
		        for (var key in jsonData){
		              newitem = "<li><a id=" + key + " href=''>" + key + "</a></li>" 
		              $("#NotesList").append(newitem);
		        }
		      }else{
		        newitem = "<li><a>None</a></li>"
		        $("#NotesList").append(newitem);
		      }

		      var divData

		      $("#NotesList").click(function(event) {
		          noteSelected = $(event.target).text()
		          event.preventDefault();

		          for (var key in jsonData){
		          	if (key === noteSelected){
		          		created = jsonData[key][0]
		          		modified = jsonData[key][1]
		          		divData = jsonData[key][2]

				        $("#noteTitle").text(noteSelected)
				        $("#noteCreated").text("Created: " + created)
				        $("#noteModified").text("Modified: " + modified)


		          		$('#notesData').remove()
		          		newDiv = "<div id='notesData'>" + divData + "</div>"

		          		$('#notesDiv').append(newDiv)
		          		
		          	}
		          }
		      });
	    });
	</script>
	<style>
	.scrollable-menu {
	    height: auto;
	    max-height: 200px;
	    overflow-x: hidden;
	}
	</style>
    <body>
    	{% include "nav.html" %}

		<div class="container-fluid">
		      
		      <div class="row row-offcanvas row-offcanvas-left">
		        
		         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
		           
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'overview' %}">Overview</a></li>
		              <li><a href="{% url 'top10' %}">Top 10</a></li>
		              <li><a href="{% url 'smsdata' %}">SMS History</a></li>
		              <li><a href="{% url 'calldata' %}">Call History</a></li>
		              <li><a href="{% url 'calendardata' %}">Calendar</a></li>
		              <li class="active"><a href="{% url 'notesdata' %}">Notes</a></li>
		              <li><a href="{% url 'images' %}">Images</a></li>
		            </ul>
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'appdata' %}">App Data</a></li>
		              <li><a href="{% url 'appspecific' %}">App Specifics</a></li>
		              <li><a href="{% url 'accounts' %}">Accounts</a></li>
		              <li><a href="{% url 'appplists' %}">App Plists</a></li>
		            </ul>
		            <ul class="nav nav-sidebar">
		              {% if safari_data %}
		              <li><a href="{% url 'safaridata' %}">Safari Searches</a></li>
		              {% endif %}
		              {% if snap_friends or snap_data %}
		              <li><a href="{% url 'snapdata' %}">Snapchat</a></li>
		              {% endif %}
		              {% if hopstop_data or hopstop_rec %}
		              <li><a href="{% url 'hopstopdata' %}">HopStop</a></li>
		              {% endif %}
		            </ul>
		            {% if wifiData or keychainData %}
		            <ul class="nav nav-sidebar">
		              {% if wifiData %}
		              <li><a href="{% url 'wifi' %}">WiFi</a></li>
			          {% endif %}
			          {% if keychainData %}
		              <li><a href="{% url 'keychain' %}">Keychain</a></li>
		              {% endif %}
		            </ul>
		            {% endif %}
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'dbs' %}">Databases</a></li>
		            </ul>
		          
		        </div><!--/span-->
		        
		        <div class="col-sm-9 col-md-10 main">
				  <h1 class="page-header">
						Notes Data
		          </h1>
		          <div class="row placeholders">
		          	
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Notes List
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu scrollable-menu" id="NotesList" aria-labelledby="dropdownMenu1">
					  </ul>
					</div>
					
					<div>
						<div style="float:left;"><h3 id="noteTitle"></h3></div>
						<div style="float:right;">
							<div><h5 id="noteCreated"></h5></div>
							<div><h5 id="noteModified"></h5></div>
						</div>
					</div><br><br><br>

					<div id="notesDiv">
						<div id="notesData"></div>
					</div>

		          </div>
		      </div><!--/row-->

			</div>
		</div><!--/.container-->
 	</body>
</html>