<!DOCTYPE HTML>
<html>
	{% include "dependencies.html" %}
		
	<script text="text/javascript">
	$(document).ready(function() {
		$('ul.nav-tabs li a').click(function (e) {
			$('ul.nav-tabs li.active').removeClass('active')
			$(this).parent('li').addClass('active')
		})
	});
	</script>
	
    <body>
    	{% include "nav.html" %}

		<div class="container-fluid">
		      
		      <div class="row row-offcanvas row-offcanvas-left">
		        
		         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
		           
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'overview' %}">Overview</a></li>
		              <li><a href="{% url 'top10' %}">Top 10</a></li>
		              <li><a href="{% url 'smsdata' %}">SMS Data</a></li>
		              <li><a href="{% url 'calldata' %}">Call Data</a></li>
		              <li><a href="{% url 'calendardata' %}">Calendar Data</a></li>
		            </ul>
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'appdata' %}">App Data</a></li>
		              <li><a href="{% url 'appspecific' %}">App Specifics</a></li>
		              <li><a href="{% url 'accounts' %}">Accounts</a></li>
		              <li><a href="{% url 'appplists' %}">App Plists</a></li>
		            </ul>
		            {% if wifiData or keychainData %}
		            <ul class="nav nav-sidebar">
		              {% if wifiData %}
		              <li><a href="{% url 'wifi' %}">WiFi</a></li>
			          {% endif %}
			          {% if keychainData %}
		              <li><a href="{% url 'keychain' %}">Keychain</a></li>
		              {% endif %}
		            </ul>
		            {% endif %}
		            <ul class="nav nav-sidebar">
		              {% if safari_data %}
		              <li><a href="{% url 'safaridata' %}">Safari Searches</a></li>
		              {% endif %}
		              <li class="active"><a href="{% url 'snapdata' %}">Snapchat</a></li>
		              {% if hopstop_data or hopstop_rec %}
		              <li><a href="{% url 'hopstopdata' %}">HopStop</a></li>
		              {% endif %}
		            </ul>
		            <ul class="nav nav-sidebar">
		              <li><a href="{% url 'images' %}">Images</a></li>
		            </ul>
		          
		        </div><!--/span-->
		        
		        <div class="col-sm-9 col-md-10 main">
		          
				  <h1 class="page-header">
						Snapchat Data
		          </h1>

		          <div class="row placeholders">
					<div class="placeholder">
						{% if snap_friends %}
						   <ul class="nav nav-tabs" data-tabs="tabs">
						      <li class="active"><a href="#UserData" data-toggle="tab">User Data</a></li>
						      <li><a href="#Contacts" data-toggle="tab">Contacts</a></li>
						   </ul>
						   <div class="tab-content">
						   	  <div class="tab-pane active" id="UserData">
						   	  	<br/>
						   	  	<ul class="list-unstyled">
							   	  	{% for key,val in snap_data.items %}
							      	{% if val.0 %}
									      	<b>{{ key }}</b>
										      	{% for item in val %}
										      		{% for i in item %}
												      	{% if key == "Best Friends"%}
												      	<p style="margin-left:10px;"><span style="color:#B8860B; font-size:.75em;" class="glyphicon glyphicon-star"></span> {{ i }}</p>
														{% else %}
														<p style="margin-left:10px;">{{ i }}</p>
														{% endif %}
											      	{% endfor %}
										      	{% endfor %}
										{% endif %}
							      	{% endfor %}
							    </ul>
						      	{% if snap_rec %}
						      		<b>Recents</b>
						      			{% for item in snap_rec %}
						      			<p style="margin-left:10px;"><span style="color:#428bca; font-size:.75em;" class="glyphicon glyphicon-record"></span> {{item}}</p>
						      			{% endfor %}
						      	{% endif%}
						   	  </div>
						   	  <div class="tab-pane" id="Contacts">
						   	  	<br/>
						   	  	  {% include "SnapContactsdataTable.html" %}
						   	  </div>
						   </div>
						{% else %}
						<ul class="list-unstyled">
						   	  	{% for key,val in snap_data.items %}
							      	{% if val.0 %}
								      	<b>{{ key }}</b>
									      	{% for item in val %}
									      		{% for i in item %}
											      	{% if key == "Best Friends"%}
												      	<p style="margin-left:10px;"><span style="color:#B8860B; font-size:.75em;" class="glyphicon glyphicon-star"></span>{{ i }}</p>
													{% else %}
														<p style="margin-left:10px;">{{ i }}</p>
													{% endif %}
										      	{% endfor %}
									      	{% endfor %}
									{% endif %}
						      	{% endfor %}
							    </ul>
						      	{% if snap_rec %}
						      		<b>Recents</b>
						      			{% for item in snap_rec %}
						      			<p style="margin-left:10px;"><span style="color:#428bca; font-size:.75em;" class="glyphicon glyphicon-record"></span>{{item}}</p>
						      			{% endfor %}
						      	{% endif%}
						{% endif %}
		            </div>
		            
		          </div>
		          
		      </div><!--/row-->
			</div>
		</div><!--/.container-->
 	</body>
</html>